%h1 Caesar Cipher
%p Get the respect you deserve by encrypting your messages with Caesar Cipher!
%form
	%input.input{:type => "text", :name => "to_cipher", :placeholder => "Enter text to encrypt"}
	%br
	%input.input{:type => "text", :name => "shift_value", :placeholder => "shift value"}
	%input.button{:type => "submit", :value => "submit"}
.output
	%strong= @@ciphered
.back
	%a{:href => "https://mighty-wave-72383.herokuapp.com/"} back