%h1 Hangman the Game
.message= @@message
.hidden-word
	-for i_idx in 0..@@my_word_display.size-1
		.letter-container= @@my_word_display[i_idx]
.keyboard
	-for i_idx in 97..122
		%form
			%input{ :type => "submit", :value => i_idx.chr , :name => "guess"}
.hangman
%p= "You have #{9 - @@counter} chances left!"
%form
	%input.button{ :type => "submit", :name => "reset", :value => "reset"}
.back
	%a{:href => "https://mighty-wave-72383.herokuapp.com/"}back