%h1 Game Center
%p Choose from those fine games:
.center
	%ul
		%li
			%a{:href => "https://mighty-wave-72383.herokuapp.com/hangman"} hangman
		%li
			%a{:href => "https://mighty-wave-72383.herokuapp.com/caesar"} caesar